.container-order-side-menu {
  width: 100%;
  text-align: center;
  border-right: 0.0625rem solid #efefef;
}
.order-sidemenu {
  max-width: 270px;
  width: 100%;
  padding: 8px;
  .block-border {
    border: 1px solid #e7e8e9;
    border-radius: 32px 0px;
  }
  .order-sidemenu__user {
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 24px;
    border-bottom: 0.0625rem solid #efefef;
    .order-sidemenu__user-name {
      padding-left: 2px;
      .oder-sidemenu_editInfo {
        font-size: 30px;
        margin-left: 40px;
        display: flex;
        .image_editInfo {
          margin-top: 6px;
          margin-right: 20px;
        }
      }
    }
  }
  .order-sidemenu__menu {
    ul li {
      margin-top: 20px;
      list-style: none;
    }
    ul {
      padding-left: 30px;
    }
    a {
      font-size: 20px;
      color: black;
      text-decoration: none;
      display: flex;
    }
    .order-sidemenu__menu_icon {
      margin-right: 10px;
      color: black;
      .user_menu_icon {
        margin-top: 4px;
      }
    }
    .order-sidemenu__menu li.active a {
      color: #221f20;
    }

    .order-sidemenu__menu li a span {
      flex: 0 0 13px;
      max-width: 13px;
      margin-right: 12px;
    }
  }
}
