$color: rgb(238, 77, 45);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: rgb(236, 232, 232);
}

.container-form {
  background: white;
  padding-top: 50px;
  align-items: flex-start;
  .oderSideMenu {
    padding-left: 20px;
    border-right: 2px solid #f7f8f9;
  }
  .container-avatar {
    border-bottom: 0.5px solid black;
  }
  .order-block__title {
    border-bottom: 2px solid #f7f8f9;
  }
  .validate-avatar {
    color: #999;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-top: -10px;
  }
  .form-control:focus {
    box-shadow: none;
    border-color: black;
  }
  .form-check-input:focus {
    box-shadow: none;
  }
  .profile-button {
    background: $color;
    box-shadow: none;
    border: none;
    &:hover {
      background: $color;
    }
    &:focus {
      background: $color;
      box-shadow: none;
    }
    &:active {
      background: $color;
      box-shadow: none;
    }
  }
  .input-profile-username {
    .profile-name {
      display: flex;
      margin-top: 20px;
      margin-bottom: 20px;
      .labels-username {
        width: 20%;
        text-align: left;
        color: rgba(85, 85, 85, 0.8);
        font-size: 20px;
      }
      .username_info {
        font-size: 25px;
        margin-left: -22px;
      }
    }
  }
  .input-profile-email {
    .profile-email {
      display: flex;
      margin-bottom: 20px;
      .labels-email {
        margin-left: 48px;
        width: 40%;
        color: rgba(85, 85, 85, 0.8);
        font-size: 20px;
      }
      .email_info {
        padding-left: 20px;
        font-size: 25px;
      }
    }
  }
  .input-profile-phone {
    .profile-phone {
      display: flex;
      margin-bottom: 20px;
      .labels-phone {
        margin-left: 43px;
        width: 20%;
        color: rgba(85, 85, 85, 0.8);
        font-size: 20px;
        padding-top: 20px;
      }
      .form-control-lg {
        min-height: 20px;
        font-size: 1.25rem;
        border-radius: 0.3rem;
        margin-right: 590px;
      }
    }
    .alert-file-validation-phone {
      color: red;
      margin-top: -15px;
      margin-left: 129px;
    }
  }
  .input-profile-gender {
    .profile-gender {
      display: flex;
      margin-bottom: 20px;
      .labels-gender {
        margin-left: 38px;
        width: 20%;
        color: rgba(85, 85, 85, 0.8);
        font-size: 20px;
        padding-top: 20px;
      }
      .from-gender {
        margin-left: -59px;
        margin-top: 26px;
      }
    }
  }
  .input-profile-address {
    .profile-address {
      display: flex;
      margin-bottom: 20px;
      .labels-address {
        margin-left: 38px;
        width: 20%;
        color: rgba(85, 85, 85, 0.8);
        font-size: 20px;
        padding-top: 20px;
      }
      .form-control-address {
        margin-left: 123px;
        margin-top: -35px;
        width: 619px;
        height: 48px;
      }
    }
  }
  .border-red {
    border: red solid 1px;
  }
  .border-right {
    max-height: 300px;
    border-left: 0.0625rem solid #efefef;
  }
  .input-profile-button {
    margin-top: 1.75rem;
    margin-bottom: 10px;
    .profile-button {
      background: #ee4d2d;
      height: 40px;
      padding: 0 20px;
      margin-left: 120px;
      margin-top: 20px;
    }
  }
}
