form {
  width: 100%;
  background-color: white;

  .card-body {
    border-radius: 5px;
    background-color: #fff;
    padding: 30px !important;
  }

  .input-form {
    #email {
      font-size: 15px;
      margin-bottom: 20px;
    }
    #password {
      font-size: 15px;
      margin-bottom: 20px;
    }
    #confirmpassword {
      font-size: 15px;
      margin-bottom: 20px;
    }
  }

  .submit-button {
    .btn-submit {
      width: 100%;
      padding: 7px 0px;
      background: #221F20;
      border: none;
      color: #fff;
      font-size: 16px;
      margin-bottom: 19px;
    }
    .btn-submit:hover {
      opacity: 0.9;
    }
  }
}
