form{
    width: 100%;
    height: 300px;
    background-color: rgb(238, 77, 45);
    
    .card-body{
        border-radius: 5px;
        background-color: #fff;
        padding: 30px !important;
    }

    .input-form{
        #email{
            font-size: 15px;
            margin-bottom: 20px;
        }
        #newpassword{
            font-size: 15px;
            margin-bottom: 20px;
        }
        #confirmnewpassword{
            font-size: 15px;
            margin-bottom: 20px;
        }
    }

    .submit-button{
        .btn-submit{
            width: 100%;
            padding: 7px 0px;
            background: #ef4d2d;
            border: none;
            color: #fff;
            font-size: 16px;
            margin-bottom: 19px;
        }
        .btn-submit:hover{
            opacity: 0.9;
        }
    }

}
