$color: rgb(238, 77, 45);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: rgb(236, 232, 232);
}

span {
  color: red;
}

h1 {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5rem;
  text-transform: capitalize;
  color: #333;
}

.container_profile {
  background: white;
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 13%);
  border-radius: 0.125rem;
  .container-avatar {
    border-bottom: 0.5px solid black;
  }
  .order-block__title {
    border-bottom: 2px solid #f7f8f9;
  }
  .container-form {
    padding-top: 1rem;
    align-items: flex-start;
    max-height: 100%;
    .validate-avatar {
      color: #999;
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }
  .form-control:focus {
    box-shadow: none;
    border-color: black;
  }
  .form-check-input:focus {
    box-shadow: none;
  }
  .profile-button {
    background: $color;
    box-shadow: none;
    border: none;
    &:hover {
      background: $color;
    }
    &:focus {
      background: $color;
      box-shadow: none;
    }
    &:active {
      background: $color;
      box-shadow: none;
    }
  }
  .input-profile-email {
    margin-top: 2px;
  }
  .input-profile-phone {
    margin-top: 2px;
  }
  .input-profile-gender {
    margin-top: 15px;
  }
  .input-profile-address {
    margin-top: 15px;
  }
  .border-red {
    border: red solid 1px;
  }
  .alert-file-validation {
    height: 100%;
    margin-bottom: 0px;
    margin-top: 2px;
  }
  .labels {
    width: 20%;
    text-align: left;
    color: rgba(85, 85, 85, 0.8);
    text-transform: capitalize;
    overflow: hidden;
  }
  .profile-name {
    .username_info {
      font-size: 20px;
    }
  }
  .profile-email {
    .email_info {
      font-size: 20px;
    }
  }
  .border-right {
    max-height: 300px;
    border-left: 0.0625rem solid #efefef;
    border-right: 0.0625rem solid #efefef;
  }
  .input-profile-button {
    margin-top: 1.75rem;
    margin-bottom: 10px;
    .profile-button {
      color: #fff;
      position: relative;
      overflow: visible;
      outline: 0;
      background: #ee4d2d;
      height: 40px;
      padding: 0 20px;
      min-width: 70px;
      max-width: 220px;
    }
  }
}
.loading {
  margin-top: 300px;
}
