form {
  width: 100%;
  background-color: rgb(195, 184, 184);

  .card-body {
    border-radius: 5px;
    background-color: #fff;
    padding: 30px !important;
  }

  .input-form {
    #name {
      font-size: 14px;
      margin-bottom: 20px;
    }
    #email {
      font-size: 14px;
      margin-bottom: 20px;
    }
    #phonenumber {
      font-size: 14px;
      margin-bottom: 20px;
    }
    #password {
      font-size: 14px;
      margin-bottom: 20px;
    }
    #confirmPassword {
      font-size: 14px;
      margin-bottom: 20px;
    }
  }

  .register-button {
    .btn-register {
      width: 100%;
      padding: 7px 0px;
      background: #221F20;
      border: none;
      color: #fff;
      font-size: 16px;
      margin-bottom: 19px;
    }
    .btn-register:hover {
      opacity: 0.9;
    }
  }

  .login-link {
    color: #bdbdbd;
    font-size: 14px;
    a {
      color: #221F20;
      text-decoration: none;
      font-weight: 700;
    }
    margin-top: 8px;
  }
  .action-more {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1;
  }
}
